<?xml version="1.0" encoding="UTF-8"?><!--
    Copyright (c) 2015-2016 IncQuery Labs Ltd. and Ericsson AB
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Akos Horvath, Abel Hegedus, Zoltan Ujhelyi, Daniel Segesdi, Tamas Borbas, Robert Doczi, Peter Lunk, Istvan Papp - initial API and implementation
 --><plugin>
  <extension id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries" id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries"/>
  </extension>
  <extension id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppFileAndDirectoryQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.codegeneration.queries.CppFileAndDirectoryQueries" id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppFileAndDirectoryQueries"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.uri_mapping">
    <mapping source="pathmap://EMDW/cpp/codegeneration/" target="platform:/plugin/com.incquerylabs.emdw.cpp.codegeneration/model/"/>
  </extension>
</plugin>
