<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries" id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries"/>
  </extension>
  <extension id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppDirectoryStructureQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.codegeneration.queries.CppDirectoryStructureQueries" id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppDirectoryStructureQueries"/>
  </extension>
  <extension id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppFileAndDirectoryQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.codegeneration.queries.CppFileAndDirectoryQueries" id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppFileAndDirectoryQueries"/>
  </extension>
</plugin>
