<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.emdw.xtuml.incquery.XtumlValidationQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.xtuml.incquery.XtumlValidationQueries" id="com.incquerylabs.emdw.xtuml.incquery.XtumlValidationQueries"/>
  </extension>
</plugin>
