<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.emdw.xtuml.incquery.Validation" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.xtuml.incquery.Validation" id="com.incquerylabs.emdw.xtuml.incquery.Validation"/>
  </extension>
</plugin>
