<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.4"?><plugin>
  <extension id="com.incquerylabs.emdw.cpp.common.queries.XtumlQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.common.queries.XtumlQueries" id="com.incquerylabs.emdw.cpp.common.queries.XtumlQueries"/>
  </extension>
</plugin>
