<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated common -->
      <package
            uri="http://www.eclipse.org/papyrusrt/xtumlrt/common"
            class="org.eclipse.papyrusrt.xtumlrt.common.CommonPackage"
            genModel="model/common.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://EMDW/xumlrt/"
            target="platform:/plugin/org.eclipse.papyrusrt.xtumlrt.common.model/model/">
      </mapping>
   </extension>

</plugin>
