<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.uml.ralf.ui.queries.UMLScopeQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.uml.ralf.ui.queries.UMLScopeQueries" id="com.incquerylabs.uml.ralf.ui.queries.UMLScopeQueries"/>
  </extension>
  <extension id="com.incquerylabs.uml.ralf.incquery.UMLScopeQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.uml.ralf.incquery.UMLScopeQueries" id="com.incquerylabs.uml.ralf.incquery.UMLScopeQueries"/>
  </extension>
</plugin>
