<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <command
               commandId="com.incquerylabs.emdw.cpp.ui.modelgen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.incquerylabs.emdw.cpp.ui.umlmodeldef">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.incquerylabs.emdw.cpp.ui.componentgen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.incquerylabs.emdw.cpp.ui.umlcomponentdef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.incquerylabs.emdw.cpp.ui.umlmodeldef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <test
                     forcePluginActivation="true"
                     property="com.incquerylabs.emdw.cpp.ui.isumlmodel">
               </test>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.incquerylabs.emdw.cpp.ui.UmlHandler"
            id="com.incquerylabs.emdw.cpp.ui.modelgen"
            name="Generate CPP code for selected UML model">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.incquerylabs.emdw.cpp.ui.SelectionAdapterTester"
            id="com.incquerylabs.emdw.cpp.ui.adaptertester"
            namespace="com.incquerylabs.emdw.cpp.ui"
            properties="isumlmodel"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>

</plugin>
