<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.incquerylabs.emdw.cpp.ui.generate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.incquerylabs.emdw.cpp.ui.xtclassdef">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.incquerylabs.emdw.cpp.ui.toolchain"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.incquerylabs.emdw.cpp.ui.umlmodeldef">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.incquerylabs.emdw.cpp.ui.componentgen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.incquerylabs.emdw.cpp.ui.umlcomponentdef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.incquerylabs.emdw.cpp.ui.xtclassdef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.papyrusrt.xtumlrt.xtuml.XTComponent">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.incquerylabs.emdw.cpp.ui.umlmodeldef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.uml2.uml.Model">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.incquerylabs.emdw.cpp.ui.umlcomponentdef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.uml2.uml.Component">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.incquerylabs.emdw.cpp.ui.CPPHandler"
            id="com.incquerylabs.emdw.cpp.ui.generate"
            name="Generate CPP code for selected XTComponent">
      </command>
      <command
            defaultHandler="com.incquerylabs.emdw.cpp.ui.UmlHandler"
            id="com.incquerylabs.emdw.cpp.ui.toolchain"
            name="Generate CPP code for selected UML model">
      </command>
      <command
            defaultHandler="com.incquerylabs.emdw.cpp.ui.UmlComponentHandler"
            id="com.incquerylabs.emdw.cpp.ui.componentgen"
            name="Generate CPP code for selected UML component">
      </command>
   </extension>

</plugin>
