<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.emdw.cpp.transformation.queries.XtumlQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.transformation.queries.XtumlQueries" id="com.incquerylabs.emdw.cpp.transformation.queries.XtumlQueries"/>
  </extension>
  <extension id="com.incquerylabs.emdw.cpp.transformation.queries.CppCodeGenerationQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.transformation.queries.CppCodeGenerationQueries" id="com.incquerylabs.emdw.cpp.transformation.queries.CppCodeGenerationQueries"/>
  </extension>
  <extension id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries" id="com.incquerylabs.emdw.cpp.codegeneration.queries.CppCodeGenerationQueries"/>
  </extension>
</plugin>
