<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.incquerylabs.emdw.ui.examples"
            name="xUML-RT model examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
		<wizard	id="com.incquerylabs.emdw.project.examples.SimplePingPong" 
			name="Simple Ping-Pong example model" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/com.incquerylabs.emdw.ui.examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A simple example to demonstrate the Event dispatching between statemachines using the ping-pong model</description>
		</wizard>
  <wizard
        category="org.eclipse.ui.Examples/com.incquerylabs.emdw.ui.examples"
        class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
        icon="icons/genproject.gif"
        id="com.incquerylabs.emdw.project.examples.AdvancedPingPong"
        name="Advanced Ping-Pong example model"
        project="true">
     <description>
        An advanced example to demonstrate the event dispatching between statemachines using the ping-pong model. This example uses event generalization, event attributes and multiple associations and attributes.
     </description>
  </wizard>
  <wizard
        category="org.eclipse.ui.Examples/com.incquerylabs.emdw.ui.examples"
        class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
        icon="icons/genproject.gif"
        id="com.incquerylabs.emdw.project.examples.ClientServer"
        name="Client-Server example model"
        project="true">
     <description>
        An example to demonstrate the event dispatching between statemachines and the use of event generalization in entry and exit actions.
     </description>
  </wizard>
	</extension>
	
	 <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="com.incquerylabs.emdw.project.examples.SimplePingPong">
         <projectDescriptor
               contentURI="contents/com.incquerylabs.emdw.example.pingpongsimple.zip"
               description="Contains a simple Component that holds the Ping and Pong classes."
               name="com.incquerylabs.emdw.example.pingpongsimple">
         </projectDescriptor>
      </example>
      <example
            pageImage="icons/genproject.gif"
            wizardID="com.incquerylabs.emdw.project.examples.AdvancedPingPong">
         <projectDescriptor
               contentURI="contents/com.incquerylabs.emdw.example.pingpongadvanced.zip"
               description="Contains a simple Component that holds the Ping, Pong and Manager classes."
               name="com.incquerylabs.emdw.example.pingpongadvanced">
         </projectDescriptor>
      </example>
      <example
            pageImage="icons/genproject.gif"
            wizardID="com.incquerylabs.emdw.project.examples.ClientServer">
         <projectDescriptor
               contentURI="contents/com.incquerylabs.emdw.example.clientserver.zip"
               description="An example for client-server communication and the use of event generalization in entry and exit actions."
               name="com.incquerylabs.emdw.example.clientserver">
         </projectDescriptor>
      </example>
   </extension>

</plugin>
