/.CppOperation2UmlOperationMatch.java._trace
/.CppOperation2UmlOperationMatcher.java._trace
/.CppState2UmlStateMatch.java._trace
/.CppState2UmlStateMatcher.java._trace
/.CppTransition2UmlTransitionMatch.java._trace
/.CppTransition2UmlTransitionMatcher.java._trace
/.UmlCppMappingQueries.java._trace
/CppOperation2UmlOperationMatch.java
/CppOperation2UmlOperationMatcher.java
/CppState2UmlStateMatch.java
/CppState2UmlStateMatcher.java
/CppTransition2UmlTransitionMatch.java
/CppTransition2UmlTransitionMatcher.java
/UmlCppMappingQueries.java
