/.CPPCodeGenerationWrapper.java._trace
/.CPPCodeGenerationWrapper.xtendbin
/.FileAndDirectoryGenerationWrapper.java._trace
/.FileAndDirectoryGenerationWrapper.xtendbin
/.QueryResultTraceability.java._trace
/.QueryResultTraceabilityWrapper.java._trace
/.QueryResultTraceabilityWrapper.xtendbin
/.TransformationWrapper.java._trace
/.TransformationWrapper.xtendbin
/.XtumlCPPTransformationQrtWrapper.java._trace
/.XtumlCPPTransformationQrtWrapper.xtendbin
/.XtumlCPPTransformationWrapper.java._trace
/.XtumlCPPTransformationWrapper.xtendbin
/CPPCodeGenerationWrapper.java
/FileAndDirectoryGenerationWrapper.java
/QueryResultTraceabilityWrapper.java
/TransformationWrapper.java
/XtumlCPPTransformationQrtWrapper.java
/XtumlCPPTransformationWrapper.java
