<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
    Copyright (c) 2015-2016 IncQuery Labs Ltd. and Ericsson AB
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Akos Horvath, Abel Hegedus, Zoltan Ujhelyi, Daniel Segesdi, Tamas Borbas, Robert Doczi, Peter Lunk, Adam Balogh - initial API and implementation
 --><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated oopl -->
    <package class="com.ericsson.xtumlrt.oopl.OoplPackage" genModel="model/oopl.genmodel" uri="http://www.ericsson.com/xtumlrt/oopl"/>
  </extension>
  <extension id="extension.derived.com.ericsson.xtumlrt.oopl.ooplStructMemberType" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="OOPLStructMember" feature-name="type" package-nsUri="http://www.ericsson.com/xtumlrt/oopl"/>
  </extension>
  <extension id="extension.derived.com.ericsson.xtumlrt.oopl.ooplStructTypeMembers" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="OOPLStructType" feature-name="members" package-nsUri="http://www.ericsson.com/xtumlrt/oopl"/>
  </extension>
  <extension id="extension.derived.com.ericsson.xtumlrt.oopl.ooplEnumTypeEnumerators" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="OOPLEnumType" feature-name="enumerators" package-nsUri="http://www.ericsson.com/xtumlrt/oopl"/>
  </extension>
  <extension id="extension.derived.com.ericsson.xtumlrt.oopl.ooplEnumTypeDefaultValue" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="OOPLEnumType" feature-name="defaultValue" package-nsUri="http://www.ericsson.com/xtumlrt/oopl"/>
  </extension>
  <extension id="com.ericsson.xtumlrt.oopl.OoplQueryBasedFeatures" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.ericsson.xtumlrt.oopl.OoplQueryBasedFeatures" id="com.ericsson.xtumlrt.oopl.OoplQueryBasedFeatures"/>
  </extension>
</plugin>
