/.CppOperation2UmlOperationProcessor.java._trace
/.CppOperation2UmlOperationQuerySpecification.java._trace
/.CppState2UmlStateProcessor.java._trace
/.CppState2UmlStateQuerySpecification.java._trace
/.CppTransition2UmlTransitionProcessor.java._trace
/.CppTransition2UmlTransitionQuerySpecification.java._trace
/CppOperation2UmlOperationProcessor.java
/CppOperation2UmlOperationQuerySpecification.java
/CppState2UmlStateProcessor.java
/CppState2UmlStateQuerySpecification.java
/CppTransition2UmlTransitionProcessor.java
/CppTransition2UmlTransitionQuerySpecification.java
