<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.emdw.umlintegration.queries.Transformation" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.umlintegration.queries.Transformation" id="com.incquerylabs.emdw.umlintegration.queries.Transformation"/>
  </extension>
  <extension id="com.incquerylabs.emdw.umlintegration.queries.TransformationPatterns" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.emdw.umlintegration.queries.TransformationPatterns" id="com.incquerylabs.emdw.umlintegration.queries.TransformationPatterns"/>
  </extension>
</plugin>
